/*This file is for your custom css.  All yours*/

body {
  background-color: #e6eeff;
}

.carousel {
  height: 400px;
}

.carousel-caption {
  text-shadow: none;
}

.carousel .item {
  height: 400px;
  background-color: transparent;
}

h2, label {
  color: #000;
}

label {
  font-size: 1.4em;
  margin: .2em;
}

.btn {
  margin: 1em;
}

header h1 {
  color: #ff8080;
}
/*
.lead {
  color: #000;
}*/
