/*This file is for your custom css.  All yours*/

body {
  background-color: #e6eeff;
}

.carousel {
  height: 400px;
}

.carousel-caption {
  text-shadow: none;
}

.carousel .item {
  height: 400px;
  background-color: transparent;
}

h2, label {
  color: #000;
}

label {
  font-size: 1.4em;
  margin: .2em;
}

.btn {
  margin: 1em;
}

header h1 {
  color: #002266;
  margin-bottom: .5em;
  padding-bottom: .3em;
  border-bottom: 1px solid #002266;
}

.vacation-slide {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #fff;
}
